In [1]:
import pandas as pd

/Users/varya_hai/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/Users/varya_hai/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('/Users/varya_hai/Karpov.courses/lesson_2_data.csv',encoding='windows-1251',sep=';')
df.head()

,Номер,Дата создания,Дата оплаты,Title,Статус,Заработано,Город,Платежная система
0,1062823,01.12.2019 10:50,01.12.2019 10:52,Курс обучения «Эксперт»,Завершен,29597.5,Чита,Сбербанк эквайринг
1,1062855,01.12.2019 20:53,01.12.2019 21:27,Курс обучения «Эксперт»,Завершен,17450.3,Краснодар,Яндекс.Касса
2,1062856,01.12.2019 21:43,NaN,Курс обучения «Специалист»,Отменен,0.0,NaN,NaN
3,1062880,03.12.2019 0:18,NaN,Курс обучения «Консультант»,Отменен,0.0,г.Москва и Московская область,NaN
4,1062899,03.12.2019 21:43,NaN,Курс обучения «Эксперт»,Отменен,0.0,г.Москва и Московская область,NaN

In [3]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [4]:
df = df.rename(columns={'Номер':'number', 
                        'Дата создания':'create_date', 
                        'Дата оплаты':'payment_date', 
                        'Title':'title', 
                        'Статус':'status',
                        'Заработано':'money', 
                        'Город':'city', 
                        'Платежная система':'payment_system'})

In [5]:
df \
    .query('status=="Завершен"')\
    .groupby('title',as_index=False)\
    .aggregate({"money":'sum','number':'count'})\
    .sort_values('money',ascending=False)

                                               title      money  number
5  Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...  366947.20     125
0                        Курс обучения «Консультант»  208163.49      31
1                         Курс обучения «Специалист»  160862.64       7
2                            Курс обучения «Эксперт»  148992.80       5
4  Курс от Школы Диетологов. Повышение квалификац...   88384.92       9
3                   Курс от Школы Диетологов. Бизнес   18752.54       3

In [6]:
booking = pd.read_csv('/Users/varya_hai/Karpov.courses/2_bookings.csv',sep=';')
booking.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [7]:
booking.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

In [8]:
booking=booking.rename(columns={'Hotel':'hotel', 
                        'Is Canceled':'is_canceled', 
                        'Lead Time':'lead_time', 
                        'arrival full date':'arrival_full_date',
                        'Arrival Date Year':'arrival_date_year', 
                        'Arrival Date Month':'arrival_date_month', 
                        'Arrival Date Week Number':'arrival_date_week_num',
                        'Arrival Date Day of Month':'arrival_date_day_of_month', 
                        'Stays in Weekend nights':'stays_wekend',
                        'Stays in week nights':'stays_week', 
                        'stays total nights':'stays_total', 
                        'Adults':'adults', 
                        'Children':'children',
                        'Babies':'babies', 
                        'Meal':'meal', 
                        'Country':'country', 
                        'Reserved Room Type':'reserved_type', 
                        'Assigned room type':'assigned_type',
                        'customer type':'customer_type', 
                        'Reservation Status':'status', 
                        'Reservation status_date':'status_date'})

In [9]:
booking.loc[booking.is_canceled==0].country.value_counts().head()

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

In [10]:
booking\
    .groupby('hotel',as_index=False)\
    ['stays_total']\
    .mean()\
    .round(2)

          hotel  stays_total
0    City Hotel         2.98
1  Resort Hotel         4.32

In [11]:
len(booking[booking.reserved_type!=booking.assigned_type])

14917

In [12]:
booking\
    .query('arrival_date_year==2016')\
    .groupby('arrival_date_month',as_index=False)\
    ['is_canceled']\
    .sum()\
    .sort_values('is_canceled',ascending=False)\
    .head(1)

   arrival_date_month  is_canceled
10            October         2514

In [13]:
booking\
    .query('arrival_date_year==2017')\
    .groupby('arrival_date_month',as_index=False)\
    ['is_canceled']\
    .sum()\
    .sort_values('is_canceled',ascending=False)\
    .head(1)

  arrival_date_month  is_canceled
7                May         2762

In [14]:
booking\
    .query('hotel=="City Hotel" & (arrival_date_year==2016 | arrival_date_year==2017)')\
    .groupby(['arrival_date_year','arrival_date_month'],as_index=False)\
    ['is_canceled']\
    .sum()\
    .sort_values('is_canceled',ascending=False)\
    .head(2)

    arrival_date_year arrival_date_month  is_canceled
19               2017                May         2217
10               2016            October         1947

In [15]:
booking.adults.mean()

1.8564033838679956

In [16]:
booking.children.mean()

0.10388990333874994

In [17]:
booking.babies.mean()

0.007948739425412514

In [18]:
booking['total_kids']=booking.children+booking.babies

In [19]:
booking\
    .groupby('hotel',as_index=False)\
    ['total_kids']\
    .mean()\
    .sort_values('total_kids',ascending=False)\
    .head(1)

          hotel  total_kids
1  Resort Hotel    0.142586

In [20]:
booking\
    .groupby(['arrival_date_year','arrival_date_month'])\
    ['is_canceled']\
    .sum()\
    .groupby('arrival_date_year')\
    .nlargest(1)

arrival_date_year  arrival_date_year  arrival_date_month
2015               2015               September             2094
2016               2016               October               2514
2017               2017               May                   2762
Name: is_canceled, dtype: int64